/* VuePrincipal */
.main {
 -fx-background-color: white;
 -fx-background-image: url("space.jpg");
 -fx-background-position: center;
 -fx-background-repeat:  no-repeat;
 -fx-background-size: cover;

}

.parametres {
    -fx-background-color: white;
    -fx-background-image: url("space.jpg");
    -fx-background-position: center;
    -fx-background-repeat:  no-repeat;
    -fx-background-size: cover;
}

.chargerJeu {
    -fx-background-color: white;
    -fx-background-image: url("space.jpg");
    -fx-background-position: center;
    -fx-background-repeat:  no-repeat;
    -fx-background-size: cover;
}




.MainTitle {
    -fx-font-weight : bold;
    -fx-font-size: 75;
    -fx-text-fill: white;
    -fx-font-family: 'Calligraphic';
}
.LabelBase {
    -fx-font-weight : bold;
    -fx-font-size: 20;
    -fx-text-fill: white;
}
/* VueJeu */

.Jeu {
    -fx-background-color: white;
    -fx-background-image: url("space.jpg");
    -fx-background-position: center;
    -fx-background-repeat:  no-repeat;
    -fx-background-size: cover;
}


.PseudoLabelSonTour {
    -fx-font-weight : bold;
    -fx-text-fill: white;
    -fx-font-size: 20;
}
.PseudoLabelPasSonTour {
    -fx-font-weight : normal;
    -fx-text-fill: white;
    -fx-font-size: 15;
}

.textInfo {
    -fx-text-fill: white;

}

/* VuePartieTerminee */
.winLabel {
    -fx-text-fill: yellow;
    -fx-font-size: 70px;
    -fx-font-family: 'Avenir Next LT Pro';
}

.winScore {
    -fx-text-fill: white;
    -fx-font-size: 50px;
    -fx-font-family: 'Avenir Next LT Pro';
}


/* RegleVue */
.rules {
 -fx-background-color: white;
 -fx-background-image: url("RulesBg.png");
 -fx-background-position: center;
 -fx-background-repeat:  no-repeat;
 -fx-background-size: cover;
}
.MainTitleRules {
    -fx-font-size: 50;
    -fx-text-fill: white;
    -fx-font-family: 'Berlin Sans FB';
}
.SubtitleRules {
    -fx-font-size: 22;
    -fx-text-fill: white;
    -fx-font-family: 'Comic Sans';
    -fx-font-weight : bold;
}
.rulesText {
    -fx-font-size: 13;
    -fx-text-fill: white;
    -fx-font-family: 'Comic Sans';
    -fx-text-alignment: justify;
    -fx-wrap-text: true;
}



/* Boutons */
.button {
    -fx-font-weight : bold;
    -fx-background-color: #2196f3;
    -fx-background-radius: 22;
    -fx-font-size: 16;
    -fx-text-fill: white;
}
.button:hover {
    -fx-font-weight: bold;
    -fx-background-color: white;
    -fx-font-size: 16;
    -fx-text-fill: #2196f3;

}